.centered-text {
  /* text-align: center; */
}
.component-display {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--background-color);
  border-radius: 6px;
  box-shadow: 8px -8px 12px 0 #0000004d, -12px 12px 16px #ffffff40;
}

.avatar {
  margin: 1rem;
  box-shadow: 12px 12px 16px 0 #00000040, -8px -8px 12px 0 #ffffff4d;
}

.component-code {
  max-height: 400px;
  width: 100%;
  overflow: auto;
  /* margin-right: 1rem; */
}

.badge-icons {
  display: flex;
  justify-content: center;
}

.badge-icons i {
  color: var(--black);
}
.component-code iframe {
  border-radius: 6px;
}

.border-radius-6 {
  border-radius: 6px;
}
