@import "./component-display.css";
html {
  scroll-behavior: smooth;
}
.main {
  grid-template-areas: "sidebar components components components";
}
.components {
  grid-area: components;
}

.component-intro {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--secondary-color);
}

.component-intro p {
  line-height: 1.6;
  color: var(--grey);
}

.component-type {
  padding-top: 0.5rem;
}

.component-type h3 {
  color: var(--color);
}

.component-type p {
  line-height: 1.5;
}

aside li {
  margin: 1.5rem;
  padding: 0.5rem 1rem;
}

ul a:hover {
  padding: 0.25rem;
  color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 2px 8px var(--secondary-color);
}

.sidebar a,
.sidebar h2 {
  color: var(--grey);
}

i,
span {
  background-color: inherit;
}

/* Responsive Docs Layout */
@media screen and (max-width: 1024px) {
  .main {
    grid-template-areas:
      "sidebar sidebar sidebar sidebar"
      "components components components components" !important;
  }

  .components {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  .components {
    padding: 0 0.5rem;
  }
}
