@import "./component-display.css";
.main {
  grid-template-areas: "sidebar components components components";
}
.sidebar {
  padding: 3rem;
  grid-area: sidebar;
}
.components {
  grid-area: components;
}

li {
  margin: 1.5rem;
  padding: 0.5rem 1rem;
}

ul a:hover {
  padding: 0.25rem;
  color: var(--primary-color);
}

.sidebar a,
.sidebar h2 {
  color: var(--grey);
}
