@import "./component-display.css";
html {
  scroll-behavior: smooth;
}
.main {
  grid-template-areas: "sidebar components components components";
}
.components {
  grid-area: components;
}

li {
  margin: 1.5rem;
  padding: 0.5rem 1rem;
}

ul a:hover {
  padding: 0.25rem;
  color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 2px 8px var(--secondary-color);
}

.sidebar a,
.sidebar h2 {
  color: var(--grey);
}

i,
span {
  background-color: inherit;
}
