.main {
  grid-template-areas: "sidebar components components components";
  padding: 1rem;
}
.sidebar {
  grid-area: sidebar;
}
.components {
  grid-area: components;
}

li {
  margin: 1rem;
  padding: 0rem 0.5rem;
}

ul a:hover {
  /* background-color: var(--secondary-color); */
  padding: 0.25rem;
}

.sidebar a,
.sidebar h2 {
  color: var(--grey);
}

i {
  /* color: var(--white); */
}
