.modal-close {
  cursor: pointer;
  background-color: inherit;
}

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  background-color: var(--secondary-color);
  z-index: 1000;
  justify-content: space-around;
  border-radius: 6px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
