/***** External Imports ******/
@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@import "./variables.css";
@import "./grid.css";
@import "./padding.css";
@import "./margin.css";
@import "./navbar.css";
@import "./link.css";

/******** Component Imports *********/
@import "./components/alert.css";
@import "./components/avatar.css";
@import "./components/badge.css";
@import "./components/button.css";
@import "./components/card.css";
@import "./components/image.css";
@import "./components/input.css";
@import "./components/list.css";
@import "./components/rating.css";
@import "./components/toast.css";
@import "./components/typography.css";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}
