nav {
  color: var(--primary-color);
  box-shadow: var(--box-shadow);

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */

  min-height: 10vh;
  padding: 1rem;
}

.nav-section {
  display: flex;
  /* align-items: center;
  /* text-align: center; */
}

.nav-section-items {
  padding: 0 1rem;
}
