* {
  background-color: var(--bg-color);
  color: var(--color);
}

nav {
  box-shadow: var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 1rem;
}

.nav-section {
  display: flex;
  /* align-items: center;
  /* text-align: center; */
}

.nav-section .btn:hover {
  color: var(--primary-color);
  cursor: pointer;
  box-shadow: none;
}

.nav-section-items {
  padding: 0 1rem;
}

.nav-section i {
  font-size: 1.5rem;
  color: var(--color);
  cursor: pointer;
}
.nav-section i:hover {
  color: var(--primary-color);
}
