@import "./variables.css";
@import "./logo.css";
@import "./link.css";
@import "./list.css";
@import "./navbar.css";
@import "./sidebar.css";
@import "./footer.css";
@import "./site-styles/docs.css";
@import "./grid.css";
@import "./components/button.css";

img {
  max-width: 100%;
}
.img {
  width: 40vw;
}
main {
  display: flex;
  padding: 1rem;
}
