:root {
  --primary-color: #7c3aed;
  --secondary-color: #c7c6f7;
  --black: #000000;
  --white: #ffffff;
  --grey: #8b949e;
  --box-shadow: 0px 0px 5px -3px var(--black);
  --shadow-black: #00000040;
  --shadow-grey: #ffffff4d;
  --online: #1b7052;
  --offline: #7b8188;
  --busy: #dc3545;
  --away: #ff9204;
  --warning: #e9d1b0;
  --danger: #f87171;
  --success: #84f1c9;
  --warning-text: #867864;
  --danger-text: #924242;
  --success-text: #335e4e;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --color: #000000;
  --primary-color: #7c3aed;
  --secondary-color: #c7c6f7;
  --black: #000000;
  --white: #ffffff;
  --grey: #8b949e;
  --box-shadow: 0px 0px 5px -3px var(--black);
  --shadow-black: #00000040;
  --shadow-grey: #ffffff4d;
  --online: #1b7052;
  --offline: #7b8188;
  --busy: #dc3545;
  --away: #ff9204;
  --warning: #e9d1b0;
  --danger: #f87171;
  --success: #84f1c9;
  --warning-text: #867864;
  --danger-text: #924242;
  --success-text: #335e4e;
}
[data-theme="dark"] {
  /* --bg-color: #201e25; */
  --bg-color: #000000;
  --color: #ffffff;
  --primary-color: #7c3aed;
  --secondary-color: #c7c6f7;
  --black: #000000;
  --white: #ffffff;
  --grey: #8b949e;
  --box-shadow: 0px 0px 5px -3px var(--black);
  --shadow-black: #00000040;
  --shadow-grey: #ffffff4d;
  --online: #1b7052;
  --offline: #7b8188;
  --busy: #dc3545;
  --away: #ff9204;
  --warning: #e9d1b0;
  --danger: #f87171;
  --success: #84f1c9;
  --warning-text: #867864;
  --danger-text: #924242;
  --success-text: #335e4e;
}
